@charset 'utf-8';
ul,ol,dl,li{list-style:none; margin:0;padding:0}
a{text-decoration:none}

/* 图片轮播 */
.pic{
    width: 100%;
	margin: 0px;
    padding:0px;
    height: 80%;
}
.pic2{
	margin: 0px;
    padding:0px;
}
#carousel-example-generic,#carousel-example-generic2{
    margin-left: auto;
    margin-right: auto;
    height: 80%;
}
/* 动画 */
.box{
	position:relative;
	overflow:hidden;
}
.box .bg{
	width: 100%;
	height:110px;
	background:black;
	opacity:0;
	position:absolute;
	bottom: 0;
	transition:0.5s linear;
}
.box:hover .bg{
	opacity:0.8;  /*不透明级别*/
}
.box h3{
	width: 100%;
	color:transparent;
	text-align:center;
	position:absolute;
	bottom:30px;
	transition:0.5s linear;
}
.box:hover h3{
	color: white;
}
/* 新闻资讯 */
.new-top ul{
	display:inline;
}
.new-top .li1 {
	float:right;
	width:140px;   
	height:50px;   
	text-align:center;
	font-size:16px;
	font-weight:bold;
	background-color:#1a499b;
	box-sizing:border-box;
	padding:16px 35px 0px 35px;
}
.new-top .li2{
	float:right;
	width:140px;   
	height:50px;   
	text-align:center;
	font-size:16px;
	font-weight:bold;
	background-color:#CCC;
	box-sizing:border-box;
	padding:16px 35px 0px 35px;
}
.new-top li a{
	width:150px;
	height:50px;
    text-decoration:none;
    color: black;
}
.new-top h1{margin-bottom: 20px;}
.new8 li {
	font-size:15px;
	height:30px;
	margin-bottom:2px;
	line-height:30px;
	background:url('../images/listbg.png') no-repeat left center;
	padding:0px 0px 5px 10px;
}
.new8 li a{
	width:70%;
	float:left;
    color: black;
	box-sizing:border-box;
	padding-left:15px;
    text-decoration:none;
}
.new8 li a:hover{color: tomato;}
.new8 li span{
	font-size:14px;
	color:#8a8a8a;
	float:right;
}
.page-header {border-bottom: 2px solid  #c60a08;}
h1 small{font-size: 18px;}

/* 党史学习 */
.new12{
    float: right;
    font-size: 18px;
    margin-top: 30px;
    text-decoration:none;
}
.history{
    background-image:url('../images/bg.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.video{padding-bottom: 20px;}
.ds li{
    height: 50px;
    background-color: #c60a08;
}

.ds a{
    font-size: 16px;
    line-height: 30px;
    color: white;
    text-decoration:none;
}
.ds a:hover{
	color: gold;
}
.nav>li>a:hover{
	background-color: #c60a08;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {background-color:tomato;}
/* 红色经典 */
.classic{
    background-image:url('../images/hsjd-bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
/* 图片放大*/
.box-img{
    position:relative;
	overflow:hidden;
}
.box-img img:nth-of-type(1){
    transition:0.5s linear; /*代表持续时间为0.5s，恒速*/
}
.box-img:hover img:nth-of-type(1)
{
    transform:scale(1.1); /*图片放大*/
    overflow:hidden;  /*多余部分隐藏*/
}
